@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puri website ka default look */
body {
  @apply bg-gray-900 text-white font-sans;
  background-image: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1470&auto=format&fit=crop'); /* Gym Background */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}